/* NAVBAR CSS  */

.main-wrapper {
    display: flex;
    flex-direction: column;
    top: 0;
}

/* TOPNAV  */
.top-nav {
    display: flex;
    display: flex;
    flex-direction: row;
    height: 120px;
}

/* LOGO SIDE  */
.logo-side {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 90px;

}

.icons {
    display: flex;
    gap: 20px;
    font-size: 1.3rem;
}

.cart {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.cart-list-number {
    background-color: rgb(221, 1, 1);
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 4px;
    color: #fff;
}

/* HAMSIDE  */
.ham-side {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.ham-side span {
    cursor: pointer;
}

/* BOTTOM NAV  */
.bottom-nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 40px;
}

.bottom-nav a {
    text-decoration: none;
    color: #4d4d4f;
    font-size: 1.3rem;
}

.bottom-nav a:hover {
    color: #090e1d;
}